.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #35d0ba;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #ff9234;
}

p {
  font-size: 2rem;
  color: #ffcd3c;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #d92027;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn {
  background-color: #d92027;
  border: none;
  color: #35d0ba;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #ff9234;
  color: #35d0ba;
}
